<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recycle">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/circulo_de_flechas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/circulo_de_flechas"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activity.MainActivity">
        </activity>

        <activity android:name=".activity.UsuarioActivity">
        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".activity.ActividadConfirmarBorrar"
            android:label="Esta segurgo de borrar..."
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity android:name=".activity.ActividadConfirmarEditar"/>
        <activity android:name=".activity.ActividadCarga"
            android:label="Cargando..." />
        <activity android:name=".activity.ForosActivity">
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="team1.1.recycle.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
    <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode" />

</manifest>